cloud/node-red-flows/flow.json
[{"id":"e7157261.57bd2","type":"websocket in","z":"9ba9f74e.9a30d8","name":"","server":"","client":"3452b5b5.4238aa","x":186,"y":252,"wires":[["87bc734d.723fa","f0597353.409de"]]},{"id":"c4e8dd28.19d27","type":"debug","z":"9ba9f74e.9a30d8","name":"","active":false,"console":"false","complete":"false","x":690,"y":263,"wires":[]},{"id":"f0cb4822.451468","type":"websocket out","z":"9ba9f74e.9a30d8","name":"","server":"","client":"3452b5b5.4238aa","x":506,"y":409,"wires":[]},{"id":"70775cb9.efd1d4","type":"inject","z":"9ba9f74e.9a30d8","name":"","topic":"","payload":"start:0;","payloadType":"str","repeat":"","crontab":"","once":false,"x":159,"y":373,"wires":[["f0cb4822.451468"]]},{"id":"2bca3b64.fab994","type":"inject","z":"9ba9f74e.9a30d8","name":"","topic":"","payload":"stop:0;","payloadType":"str","repeat":"","crontab":"","once":false,"x":156,"y":427,"wires":[["f0cb4822.451468"]]},{"id":"168a66d8.bc9229","type":"comment","z":"9ba9f74e.9a30d8","name":"Read Websocket from Arduino","info":"","x":210.5,"y":193,"wires":[]},{"id":"e5493ff.d1e45c","type":"comment","z":"9ba9f74e.9a30d8","name":"Write to Arduino Websocket","info":"","x":201,"y":326,"wires":[]},{"id":"63b69e56.b8222","type":"comment","z":"9ba9f74e.9a30d8","name":"Webservice to read Sensor Data","info":"","x":203,"y":531,"wires":[]},{"id":"e5bdd4f4.811f68","type":"http in","z":"9ba9f74e.9a30d8","name":"","url":"/sensordata","method":"get","swaggerDoc":"","x":156,"y":596,"wires":[["228fcb77.761f44"]]},{"id":"4715db1f.ea9614","type":"http response","z":"9ba9f74e.9a30d8","name":"","x":647,"y":591,"wires":[]},{"id":"228fcb77.761f44","type":"function","z":"9ba9f74e.9a30d8","name":"Send Current Sensor Data","func":"\nmsg.payload = flow.get(\"currentSensorData\");\nreturn msg;","outputs":1,"noerr":0,"x":423.5,"y":594,"wires":[["4715db1f.ea9614"]]},{"id":"c9f100d5.479d5","type":"function","z":"9ba9f74e.9a30d8","name":"","func":"flow.set(\"currentSensorData\", {\n    angle : msg.payload.position\n});\nmsg.payload = flow.get(\"currentSensorData\");\nreturn msg;","outputs":1,"noerr":0,"x":527.5,"y":253,"wires":[["c4e8dd28.19d27"]]},{"id":"87bc734d.723fa","type":"json","z":"9ba9f74e.9a30d8","name":"","x":389.5,"y":252,"wires":[["c9f100d5.479d5"]]},{"id":"f0597353.409de","type":"debug","z":"9ba9f74e.9a30d8","name":"","active":false,"console":"false","complete":"false","x":457.5,"y":312,"wires":[]},{"id":"3452b5b5.4238aa","type":"websocket-client","z":"","path":"ws://walle.local:8081/","wholemsg":"false"}]